
<%= render '/partials/employee-profile' %>
<%if @recent_reviews%>
<div class="card-deck">
  <%@recent_reviews.each do |review|%>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><span id="star-rating"></span><span id="rating">Rating: <%=review.rating_employee%></span></h4>
      <p class="card-text"><p><i>"<%=review.review_employee%>"</i></p>
      <p><%=review.job.employer.company%>, <%=review.updated_at.strftime("%m/%d/%y")%></p>
      </p>
    </div>
  </div>
  <%end%>
</div>
<%end%>
<br />
<div class="container-fluid">
  <% if current_user.id == @employee.user.id %>
  <%= link_to 'Edit', edit_user_registration_path(@employee), :class =>"btn btn-primary"%> |
  <% end %>
  <%= link_to 'Back', jobs_path, :class =>"btn btn-primary"%>
</div>
