<% if current_user.role == 'employer' %>
<%= bootstrap_form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :title, label: 'Job title', placeholder: 'title' %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-6'><%= f.text_area :description, label: 'Description', placeholder: "Please provide details of the job scope" %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :wage, label: 'Hourly wage', placeholder: "Enter numbers only" %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :contact_person, label: 'Contact Person', placeholder: "Enter contact person name" %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :contact_number, label: 'Contact Number', placeholder: "Enter contact number" %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :contact_email, label: 'Contact Email', placeholder: "Enter contact email" %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :device, label: 'Device required' %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :software, label: 'Software required' %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :job_type, label: 'Job Type' %></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :duration, label: 'Job duration', placeholder: "Eg. 3 months"%></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :time_commitment, label: 'Time Commitment', placeholder: "Eg. 8 hours daily"%></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :training, label: 'Training needed'%></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :location, label: 'location'%></div>
  </div>

  <div class="row">
    <div class='col-xs-12 col-md-4'><%= f.text_field :positions, label: 'No. of vacancies', placeholder: "Enter numbers only" %></div>
  </div>

  <%= f.hidden_field :employer_id, value: current_user.employer_id %>
  <%= f.submit "Submit", class: 'btn btn-success' %>
<% end %>
<% else %>
  <p>You must be an employer to view this page</p>
<% end %>
