<% if current_user.role == 'employer' %>
<%= bootstrap_form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :employer_id, value: current_user.employer_id %>
  <br/>
  <div class="card">
  <div class="card-block">
    <h4 class="card-title">Job Details</h4>
    <h6 class="card-subtitle mb-2 text-muted">Basic job information</h6>
    <p class="card-text">
      <div class='col-xs-12 col-md-6'><%= f.text_field :title, label: 'Job title' , placeholder: 'title' %></div>
      <div class='col-xs-12 col-md-6'><%= f.text_area :description, label: 'Description', placeholder: "Please provide details of the job scope" %></div>
      <div class='col-xs-12 col-md-6'><%= f.text_area :location, label: 'Job Location'%></div>
      <div class='col-xs-12 col-md-6'><%= f.text_field :wage, label: 'Hourly wage', placeholder: "Enter numbers only" %></div>
      <div class='col-lg-6'>
        <%= label :job_type, "Job Type", :class => "required"%>
        <span class="input-group"><%= f.radio_button :job_type, "Full-time" %> Full-time</span>
        <span class="input-group"><%= f.radio_button :job_type, "Contract" %> Contract</span>
      </div>
      <br />
      <div class='col-xs-12 col-md-6'><%= f.text_field :duration, label: 'Job duration (under contract in Months)'%></div>
      <div class='col-xs-12 col-md-6'><%= f.text_field :time_commitment, label: 'Working hours (Hours/day)'%></div>
      <div class='col-xs-12 col-md-6'><%= f.text_field :positions, label: 'No. of vacancies', placeholder: "Enter numbers only" %></div>
      <div class='col-xs-12 col-md-6'><%= f.text_field :start_date, label: 'Expected Start date', placeholder: "Eg. Immediate" %></div>
    </p>
    <br />
    <h4 class="card-title">Skills</h4>
    <h6 class="card-subtitle mb-2 text-muted">Technical and training requirements</h6>
    <p class="card-text">
        <div class='col-xs-12 col-md-6'><%= f.text_area :device, label: 'Device required', placeholder: "Eg. Computers, handphone etc." %></div>
        <div class='col-xs-12 col-md-6'><%= f.text_area :software, label: 'Software required' %></div>
        <div class='col-xs-12 col-md-6'><%= f.text_area :skills, label: 'Skills required', placeholder: "Eg. Able to speak basic English" %></div>
        <div class='col-xs-12 col-md-6'><%= f.text_area :training, label: 'Specific training required'%></div>
    </p>
    <br/>
    <h4 class="card-title">Contact Information</h4>
    <p class="card-text">
        <div class='col-xs-12 col-md-6'><%= f.text_field :contact_person, label: 'Contact Person'%></div>
        <div class='col-xs-12 col-md-6'><%= f.text_field :contact_number, label: 'Contact Number' %></div>
        <div class='col-xs-12 col-md-6'><%= f.text_field :contact_email, label: 'Contact Email' %></div>
        <div class='col-xs-12 col-md-6'><%= f.submit "Submit", class: 'btn btn-success' %></div>
    </p>
  </div>
  </div>
</div>


<% end %>
<% else %>
  <p>You must be an employer to view this page</p>
<% end %>
