
  <%if current_user.role == 'employer'%>
    <div class="container-fluid">
      <h4>JOB LIST
        <%= link_to new_job_path, class: "btn btn-default" do %>
          <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        <% end %>
      </h4>
      <% @jobs.each_with_index do |job,i|%>
        <div class="container-fluid">
          <div class="card card-block">
          <h4 class="card-title">
            <span class="badge badge-pill badge-success"><%=job.job_applications.count%></span>
            <%= link_to job.title, job_path(job) %>
            <% if @vacancies_list[i] == 0 %>
              <span class="badge badge-pill badge-success">Filled</span>
            <%else%>
              <span class="badge badge-pill badge-danger"><%= @hired_list[i] %> / <%= job.positions %></span>
            <% end %>
          </h4>
          </div>
        </div>
      <%end%>
    </div>
    <%elsif current_user.role == 'employee'%>
      <%= form_tag jobs_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Jobs", :title => nil %>
        </p>
      <% end %>

      <%#= render :partial => 'accordion-search', :collection => @jobs_searched %>
      <%= render :partial => 'accordion-search', :locals => {:jobs_searched => @jobs_searched} %>

      <div class="container-fluid">
        <h4>MY APPLICATIONS</h4>
        <% @job_applications_made.each do |job_app| %>
          <div id="accordion1" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne<%=job_app.job.id.to_s%>" aria-expanded="true" aria-controls="collapseOne">
                    <%= job_app.job.title %>
                    <% if job_app.status == "Successful" %>
                    <span class="badge badge-success">Hired</span>
                    <%elsif job_app.status == "In Progress" %>
                    <span class="badge badge-warning">Pending</span>
                    <%else%>
                    <span class="badge badge-danger">Unsuccessful</span>
                    <%end%>
                  </a>
                </h5>
              </div>

          <div id="collapseOne<%= job_app.job.id.to_s%>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <p>Company: <%= job_app.job.employer.company %></p>
                <p>Description: <%= job_app.job.description %></p>
                <p>Salary: <%= job_app.job.wage %></p>
                <p>Status: <%= job_app.status%> </p>
                <p><%= link_to "View Job Application", job_application_path(job_app.id), class: "btn btn-primary" %></p>
                <% if job_app.status == "Successful" %>
                  <p><%= link_to "Submit a Review", new_review_path({:employee_id=>current_user.employee_id, :employer_id=>job_app.job.employer.id}), class: "btn btn-primary" %></p>
                <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <br/>
      <div class="container-fluid">
          <h4>BROWSE JOBS</h4>
          <%if @jobs_not_applied.length ==0%>
          <br><h6>No jobs currently available</h6><br>
          <%else%>
        <% @job_opportunities.each do |job_new| %>
        <div id="accordion2" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo<%=job_new.id.to_s%>" aria-expanded="true" aria-controls="collapseOne">
                  <%= job_new.title %>
                </a>
              </h5>
            </div>

            <div id="collapseTwo<%=job_new.id.to_s%>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">

                  <p>Company: <%= job_new.employer.company %></p>
                  <p>Description: <%= job_new.description %></p>
                  <p>Salary: <%= job_new.wage %></p>
                  <p>No. of vacancies: <%= job_new.positions %></p>

                <%= form_for :job_application, url: job_applications_path do |f| %>
                <p>Please provide a short Coverletter in the text box below: <br>
                  <%= f.text_area :coverletter, size: "40x5" %></p>
                <%= f.hidden_field :job_id, value: job_new.id %>
                <%= f.hidden_field :employee_id, value: current_user.employee_id %>
                <%= f.hidden_field :status, value: "In Progress" %>
                <p><%= f.submit 'Apply', class:"btn btn-primary" %></p>
                <% end %>
                  </div>
                </div>
              </div>
            </div>

            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
      </div>
  <%end%>
