
<div class="card">
  <div class="card-header">
  <h3><%= @job.title %></h3>
  <p class="text-normal margin"><%= @job.description %></p>
  </div>

<div class="card-block">

  <p class="card-text text-normal"><strong>Company:</strong>
  <%= @job.employer.company %></p>

  <p class="card-text text-normal"><strong>Hourly Wage:</strong>
  <%= @job.wage %></p>

  <p class="card-text text-normal"><strong>Contact Person:</strong>
  <%= @job.contact_person %></p>

  <p class="card-text text-normal"><strong>Software required:</strong>
  <%= @job.software %></p>

  <p class="card-text text-normal"><strong>Skills required:</strong>
  <%= @job.skills %></p>

  <p class="card-text text-normal"><strong>Job type:</strong>
  <%= @job.job_type %></p>

  <p class="card-text text-normal"><strong>Job duration:</strong>
  <%= @job.duration %></p>

  <p class="card-text text-normal"><strong>Time commitment (hours per day):</strong>
  <%= @job.time_commitment %></p>

  <p class="card-text text-normal"><strong>Specific training required:</strong>
  <%= @job.training %></p>

  <p class="card-text text-normal"><strong>Job location:</strong>
  <%= @job.location %></p>

  <p class="card-text text-normal"><strong>Start date:</strong>
  <%= @job.start_date %></p>

  <p class="card-text text-normal"><strong>Contact Number:</strong>
  <%= @job.contact_number %></p>

  <p class="card-text text-normal"><strong>Contact Email:</strong>
  <%= @job.contact_email %></p>

  <p class="card-text text-normal"><strong>Devise required:</strong>
  <%= @job.device %></p>

  <p class="card-text text-normal"><strong>Number of vacancies:</strong>
  <%= @vacancies %></p>

  <p class="card-text text-normal"><strong>Number hired:</strong>
  <%= @hired.length %></p>

  <p class="card-text text-normal"><strong>Applicants:</strong>
    <%if @job_applications.length == 0%>
    No applicants yet.
    <%end%>
  </p>

  </div>

</div>


<% @job_applications.each_with_index do |job_app,index|%>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">
          <%= job_app.employee.name %>
          <% if job_app.status == "Successful" %>
          <span class="badge badge-success">Hired</span>
          <%elsif job_app.status == "In Progress" %>
          <span class="badge badge-warning">Pending</span>
          <%else%>
          <span class="badge badge-danger">Rejected</span>
          <%end%>
        </a>
      </h5>
    </div>

    <div id="collapse<%= index.to_s %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= index.to_s %>">
      <div class="card-block">
        <p><strong>Cover letter: </strong><br>
        <%=job_app.coverletter%>
        <p><strong>Email:</strong> <%=job_app.employee.user.email%></p>
        <% if job_app.status == "In Progress" %>
        <p><%= link_to 'Hire', hire_path(job_app.id, "job_application[status]"=>"Successful"), method: :post, class:"btn btn-primary" %></p>
        <% elsif job_app.status == "Successful" %>
        <p><%= link_to "Submit a Review", edit_job_application_path, class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<br/>
<%= link_to 'Back', jobs_path, class: 'btn btn-primary' %>
