<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @job.wage %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.employer.company %>
</p>

<p>
  <strong>Applicants:</strong>
</p>

<% @job_applications.each_with_index do |job_app,index|%>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">
          <%= job_app.employee.name %>
          <% if job_app.status == "Successful" %>
          <span class="badge badge-success">Hired</span>
          <%elsif job_app.status == "In Progress" %>
          <span class="badge badge-warning">Pending</span>
          <%else%>
          <span class="badge badge-danger">Rejected</span>
          <%end%>

        </a>
      </h5>
    </div>

    <div id="collapse<%= index.to_s %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= index.to_s %>">
      <div class="card-block">
        <p><strong>Cover letter:</strong></p>
        <p><%=job_app.coverletter%></p>
        <p><strong>Email:</strong></p>
        <p><%=job_app.employee.user.email%></p>
        <% if job_app.status == "In Progress" %>
        <p><%=link_to "Hire", job_application_path(job_app.id, "job_application[status]"=>"Successful"), method: :patch, class:"btn btn-success"%></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-success' %> |
<%= link_to 'Back', jobs_path, class: 'btn btn-primary' %>
