
<div class="card">

  <div class="card-header">
    <h4><%= @job.title %></h4>
    <h6 class="subtitle mb-2 text-muted margin"><%= @job.description %></p>
  </div>

  <div class="card-block row">

    <div class="col-md-6">
      <h4 class="card-title">Job Details</h4>
      <h6 class="card-subtitle mb-2 text-muted">Basic job information</h6>

      <p>
        <strong>Job location:</strong>
        <span class="text-blue"><%= @job.location%></span>
      </p>

      <p>
        <strong>Hourly Wage:</strong>
        <span class="text-blue">$<%= @job.wage %></span>
      </p>

      <p>
        <strong>Job type:</strong>
        <span class="text-blue"><%= @job.job_type %></span>
      </p>

      <p>
        <strong>Job duration:</strong>
        <span class="text-blue"><%= @job.duration %> Months</span>
      </p>

      <p>
        <strong>Working Hours:</strong>
        <span class="text-blue"><%= @job.time_commitment %> hours</span>
      </p>

      <p>
        <strong>Number of vacancies:</strong>
        <span class="text-blue"><%= @vacancies %></span>
      </p>

      <p>
        <strong>Start date:</strong>
        <span class="text-blue"><%= @job.start_date %></span>
      </p>

    <h4 class="card-title">Skills</h4>
    <h6 class="card-subtitle mb-2 text-muted">Technical and training requirements</h6>

      <p>
        <strong>Device required:</strong>
        <%= @job.device %>
      </p>

      <p>
        <strong>Software required:</strong>
        <%= @job.software %>
      </p>

      <p>
        <strong>Skills required:</strong>
        <%= @job.skills %>
      </p>

      <p>
        <strong>Specific training required:</strong>
        <%= @job.training %>
      </p>

    </div>

    <div class="col-md-6">
      <h4 class="card-title">Contact Information</h4>

      <p>
        <strong>Company:</strong>
        <%= @job.employer.company %>
      </p>

      <p>
        <strong>Contact Person:</strong>
        <%= @job.contact_person %>
      </p>

      <p>
        <strong>Contact Number:</strong>
        <%= @job.contact_number %>
      </p>

      <p>
        <strong>Contact Email:</strong>
        <%= @job.contact_email %>
      </p>
    </div>

    <div class="card-text">
      <p><strong>Number hired:</strong>
        <%= @hired.length %></p>

      <p><strong>Applicants:</strong>
        <%if @job_applications.length == 0%>
        No applicants yet.
        <%end%>
      </p>
    </div>
  </div>
</div>

<% @job_applications.each_with_index do |job_app,index|%>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">
          <%= job_app.employee.name %>
          <% if job_app.status == "Successful" %>
          <span class="badge badge-success">Hired</span>
          <%elsif job_app.status == "In Progress" %>
          <span class="badge badge-warning">Pending</span>
          <%else%>
          <span class="badge badge-danger">Rejected</span>
          <%end%>
        </a>
      </h5>
    </div>

    <div id="collapse<%= index.to_s %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= index.to_s %>">
      <div class="card-block">
        <p><strong>Cover letter: </strong><br>
        <%=job_app.coverletter%>
        <p><strong>Email:</strong> <%=job_app.employee.user.email%></p>
        <p><%= link_to 'View Profile', employee_path(job_app.employee_id), class:"btn btn-primary" %>
        <% if job_app.status == "In Progress" %>
        <%= link_to 'Hire', hire_path(job_app.id, "job_application[status]"=>"Successful"), method: :post, class:"btn btn-primary" %></p>
        <% elsif job_app.status == "Successful" && !job_app.rating_employee %>
        <%= link_to "Submit a Review", edit_job_application_path(job_app.id), class: "btn btn-primary" %></p>
        <% elsif job_app.status == "Successful" && job_app.rating_employee%>
        <%= link_to "Edit Your Review", edit_job_application_path, class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<br/>

<%= link_to "Edit", edit_job_path, class: "btn btn-primary"%>
<%= link_to 'Back', jobs_path, class: 'btn btn-primary' %>
</div>
