<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @job.wage %>
</p>

<p>
<<<<<<< HEAD
  <strong>Company:</strong>
  <%= @job.employer.company %>
</p>

<p>
  <strong>Applicants:</strong>
  <%= @job.employee_id %>
</p>
=======
  <strong>Employer:</strong>
  <%= @job.employer %>
</p>  
>>>>>>> 5fa12ed3a58146dc8495db5d0d72ae54a27aa6ea

<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-success' %> |
<%= link_to 'Back', jobs_path, class: 'btn btn-primary' %>
