<h3>Your Employer Profile</h3>

<div class="container-fluid">

<div class="row col-sm-1 col-md-8 box">
  <div class="col-sm-1 col-md-4" >
  <p><strong>Profile Picture:</strong><br>
    <% if !@employer.image? %>
    <img src="http://api.adorable.io/avatar/<%= @employer.user.email %>" height="170px"></p>
    <% else %>
    <img src="<%= @employer.image%>" height="170px"></p>
    <% end %>
  </div>
  <div class="col-sm-1 col-md-8">
    <br><br>
    <p><strong>Average Rating:</strong>
      <%if @average_rating.to_i == 0%>
      <span> No ratings yet!</span>
      <%else%>
      <span id="star-rating"></span><span id="rating">  <%= @average_rating %></span>
      <%end%>
    </p>
    <p><strong>Company name:</strong> <%= @employer.company %></p>
    <p><strong>Email Address:</strong> <%= @employer.user.email %></p>
  </div>
</div>
<br>

<p>
  <strong>Job postings: </strong>
  <span class="badge badge-pill badge-info"><%= @employer.jobs.count %></span>
  <br>
  <strong>Address :</strong> <%= @employer.address %>
</p>

</div>
