<nav class="navbar fixed-top navbar-toggleable-xl navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">
    <%= image_tag "SEmp_v2.png", :height => "70" %>
  </a>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
      <% if current_user.nil? %>
      <%= link_to "Login", new_user_session_path, class:"nav-link" %>
      <% end %>
    </span>
    <span class="navbar-text">
      <% if user_signed_in? && current_user.role == "employer" %>
      <%= link_to current_user.employer.name, employer_path(current_user.employer_id), class:"nav-link" %>
      <% elsif user_signed_in? && current_user.role == "employee" %>
      <%= link_to current_user.employee.name, employee_path(current_user.employee_id), class:"nav-link" %>
      <% end %>
    </span>
    <span class="navbar-text">
      <% if user_signed_in? && current_user.role == "employer" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link" %>
      <% elsif user_signed_in? && current_user.role == "employee" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link" %>
      <% end %>
    </span>
  </div>
</nav>
