<% if current_user.role == 'employer'%>
  <h1>Review for <%=@job_application.employee.name%></h1>
<% else %>
  <h1>Review for <%=@job_application.job.employer.name%></h1>
<%end%>

<%= form_for(@job_application) do |f| %>
  <% if @job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_application.errors.count, "error") %> prohibited this @job_application from being saved:</h2>

      <ul>
      <% @job_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%if current_user.role == "employer"%>
  <%= f.label :rating_employee, "Rating" %>
  <div class="field star-rating">
    <%= f.radio_button(:rating_employee, "1") %>
    <%= f.radio_button(:rating_employee, "2") %>
    <%= f.radio_button(:rating_employee, "3") %>
    <%= f.radio_button(:rating_employee, "4") %>
    <%= f.radio_button(:rating_employee, "5") %>
  </div>
  <br>
  <div class="field">
    <%= f.label :review_employee, "Comments" %>
    <%= f.text_area :review_employee %>
  </div>
  <%end%>

  <%if current_user.role == "employee"%>
  <%= f.label :rating_employer, "Ratings" %>
  <div class="field star-rating">
    <%= f.radio_button(:rating_employer, "1") %>
    <%= f.radio_button(:rating_employer, "2") %>
    <%= f.radio_button(:rating_employer, "3") %>
    <%= f.radio_button(:rating_employer, "4") %>
    <%= f.radio_button(:rating_employer, "5") %>
  </div>
  <br>
  <div class="field">
    <%= f.label :review_employer, "Comments" %>
    <%= f.text_area :review_employer %>
  </div>
  <%end%>


  <div class="actions">
    <%= f.submit "Submit Review", class: "btn btn-primary"%>
  </div>
<% end %>

<%= link_to 'Back', job_application_path %>
