<h1>Editing Job Application</h1>

<%= form_for(@job_application) do |f| %>
  <% if @job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_application.errors.count, "error") %> prohibited this @job_application from being saved:</h2>

      <ul>
      <% @job_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%if current_user.role == "employer"%>
  <div class="field">
    <%= f.label :review_employee %>
    <br>
    <%= f.text_area :review_employee %>
  </div>
  <div class="field star-rating">
    <%= f.label :rating_employee %>
    <br>
    <%= f.radio_button(:rating_employee, "1") %>
    <%= f.radio_button(:rating_employee, "2") %>
    <%= f.radio_button(:rating_employee, "3") %>
    <%= f.radio_button(:rating_employee, "4") %>
    <%= f.radio_button(:rating_employee, "5") %>
  </div>
  <%end%>

  <%if current_user.role == "employee"%>
  <div class="field">
    <%= f.label :review_employer %>
    <br>
    <%= f.text_area :review_employer %>
  </div>
  <%= f.label :rating_employer %>
  <div class="field star-rating">
    <%= f.radio_button(:rating_employer, "1") %>
    <%= f.radio_button(:rating_employer, "2") %>
    <%= f.radio_button(:rating_employer, "3") %>
    <%= f.radio_button(:rating_employer, "4") %>
    <%= f.radio_button(:rating_employer, "5") %>
  </div>
  <%end%>


  <div class="actions">
    <%= f.submit "Submit Review", class: "btn btn-primary"%>
  </div>
<% end %>

<%if current_user.role == "employee"%>
<%= link_to 'Show', @job_application %> |
<% end %>
<%= link_to 'Back to all Job Applications', job_applications_path %>
