
<h2>My Job Application</h2>
<p>
  <strong>Coverletter:</strong>
  <%= @job_application.coverletter %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_application.job.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job_application.status%>
</p>

<% if @job_application.status == "Successful" %>

<p><%= link_to "Submit a Review", edit_job_application_path, class: "btn btn-primary" %></p>
<% end %>
<%= link_to 'Back to All Jobs', jobs_path %>
