<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @employer.company %>
</p>

<p><strong>Average Employer Rating:</strong>
<%= render_stars(@average_rating) %>
  <%= @average_rating %></p>


<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
