<!DOCTYPE html>
<html>
  <head>
    <title>Project4SolveEmployment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body>
    <%= render "partials/navbar" %>

    <div class="container">
      <% if notice %>
      <!-- show the notice -->
      <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
      <!-- show the alert -->
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <%= render "partials/footer" %>

  </body>
</html>
